/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */

body{
	background-image: url('images/space.jpg');
}

#main-content, #main-header{
	background-color: white;
	opacity: 0.7;
	padding: 10px;
	margin: 10px;
}

h1{
	font-size: 40px;
	font-family: Times;
	-webkit-animation: myAnimation 2s infinite;
	animation: myAnimation 2s infinite;
}

h2{
	font-size: 30px;
	text-transform: capitalize;
}

@-webkit-keyframes myAnimation {
	from{
		color: black;
	}
	to{
		color:blue;
	}
}

@keyframes myAnimation {
	from{
		color: black;
	}
	to{
		color:blue;
	}
}

p{
	text-align: justify;
	font-size: 18px;
	line-height: 1.5;
}




 